[submodule "Beginning-Cpp-Game-Programming-Second-Edition"]
	path = Beginning-Cpp-Game-Programming-Second-Edition
	url = https://github.com/EpicRefreshment/Beginning-Cpp-Game-Programming-Second-Edition.git
[submodule "Learn-CUDA-Programming"]
	path = Learn-CUDA-Programming
	url = https://github.com/EpicRefreshment/Learn-CUDA-Programming.git
[submodule "labs/Lab1/SFML"]
	path = labs/Lab1/SFML
	url = https://github.com/EpicRefreshment/SFML.git
[submodule "ogl"]
	path = ogl
	url = https://github.com/opengl-tutorials/ogl.git
